@import url("https://fonts.googleapis.com/css2?family=Poltawski+Nowy:ital,wght@0,400..700;1,400..700&display=swap");
@import "tailwindcss";

:root {
  font-family: "Poltawski Nowy", serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(0, 0, 0, 0.87);
  background-color: #1e1e2e;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@theme {
  --font-title: "Poltawski Nowy", serif;
  --color-base: #1e1e2e;
  --color-light: #edee2e;
  --color-accent: #e1c4ff;
  --color-box: #edecf6;

  --animate-fade: fade 0.3s ease-in forwards;

  @keyframes fade {
    0% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }
}

@layer base {
  a {
    font-weight: 500;
    color: #646cff;
    text-decoration: inherit;
  }
  a:hover {
    color: #535bf2;
  }

  body {
    margin: 0;
    display: flex;
    place-items: center;
    min-width: 320px;
    min-height: 100vh;
  }

  h1,
  h2 {
    font-size: 2.2em;
    line-height: 1.1;
  }

  h3,
  h4 {
    font-size: 1.4em;
    line-height: 1.1;
  }
}

@layer components {
  .list {
    color: var(--color-gray-400);
    display: flex;
    align-items: center;
    justify-content: start;
    border-radius: 1rem;
    min-height: 60px;
    transition: all 0.2s ease-in-out;
    padding: 1rem;
    border: 2px solid var(--color-gray-200);
  }
  .list:hover {
    background-color: var(--color-base);
    color: white;
  }

  .card {
    color: white;
    background-color: var(--color-base);
    padding: 1rem;
    min-height: 100px;
    display: flex;
    align-items: center;
    justify-content: start;
    border-radius: 1rem;
  }

  .box {
    display: flex;
    align-items: center;
    background-color: var(--color-box);
    width: 100%;
    border-radius: 1rem;
    padding-left: 2rem;
    min-height: 60px;
  }

  .dark-box {
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--color-base);
    width: 100%;
    border-radius: 1rem;
    padding-left: 2rem;
    min-height: 60px;
  }

  .field {
    position: relative;
    margin-bottom: 0.5rem;
  }
  .field::after {
    content: "*";
    position: absolute;
    color: var(--color-red-500);
  }
  .error {
    color: var(--color-red-500);
    position: absolute;
    left: 0;
  }

  .square-button {
    height: 140px;
    background-color: var(--color-base);
    aspect-ratio: 1/1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 1rem;
    position: relative;
  }
  .square-button > p {
    position: absolute;
    bottom: 1rem;
    color: white;
  }

  .square-button::before {
    content: "";
    transition: opacity 0.3s ease-in-out;
    font-size: 5rem;
    position: absolute;
    color: #9c8aff;
    top: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    background-color: white;
    border: solid 3px #9c8aff;
    border-radius: 1rem;
    z-index: 10;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .square-button:hover::before {
    content: "+";
    background-image: url(assets/icons.svg#add);
    opacity: 1;
  }

  .cell {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 1rem;
    background-color: var(--color-base);
    width: 100%;
    border-radius: 1rem;
    min-height: 60px;
    color: white;
  }

  .fade{
    animation: var(--animate-fade);
    animation-delay: 1000ms;
  }
}
